.primaryBtn{
    background-color: black;
    color: white;
    padding: 15px 9px;
    border-radius: 16px;
    border: solid black;
    min-width: 220px;
    display: flex;
    gap: 6px;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}


.outlineBtn{
    background-color: white;
    color: black;
    padding: 15px 9px;
    margin: 0 19px;
    border-radius: 16px;
    border: 1px solid black;
    min-width: 220px;
    display: flex;
    gap: 6px;
    justify-content: center;
    font-size: 16px;
    width: 94%;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .btnDiv {
        display: flex;
        justify-content: center;
        gap: 0px;
    }

    .primaryBtn{
        padding: 10px 6px; /* Reduce padding for smaller screens */
        min-width: auto; /* Remove the minimum width */
        width: 100%; /* Make buttons full width on mobile */
        font-size: 14px; /* Reduce font size for smaller screens */
        border-radius: 10px; /* Adjust border radius for smaller buttons */
    }
    .outlineBtn {
        padding: 10px 6px; /* Reduce padding for smaller screens */
        min-width: auto; /* Remove the minimum width */
        width: 90%; /* Make buttons full width on mobile */
        font-size: 14px; /* Reduce font size for smaller screens */
        border-radius: 10px; /* Adjust border radius for smaller buttons */

    }
}