.login-main{
    margin-left: 100px;
    margin-right: 80px;
}

.left-side{
    background: url(https: //img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2874.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1704240000&semt=ais);
}